.app {
  color: #006400; /* DarkGreen */
  background-color: #e7eae2; /* GreenYellow */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.avatar {
  border: 0cqmax solid #662121;
  border-radius: 50%;
}